{* дерево категорий *}
{* показать категории если мы не находимся на странице личного кабинета пользователя *}
{if empty($_is_personal_area)}
<section class="category">   

    {* массив с данными всех категорий *}
    {$_categories = $wa->shop->categories(0, null, true)}

    {* если массив не пустой, выводим категории *}
    {if !empty($_categories)}

    {* первый уровень*}
    <div class="category-list">
        {foreach $_categories as $_category}
        <div class="category-item">
            <a class="category-link" href="{$_category.url}">{$_category.name}</a>

            {* второй уровень*}
            {if !empty($_category.childs)}
            <div class="category-child" style="display: none;">
                {foreach $_category.childs as $_sub1_category}
                <div class="category-child-item">
                    <a class="category-child-link" href="{$_sub1_category.url}">{$_sub1_category.name}</a>

                    {* третий уровень*}
                    {if !empty($_sub1_category.childs)}
                    <div class="category-child2">
                        {foreach $_sub1_category.childs as $_sub2_category}
                        {if $_sub2_category@index >= 10}
                        <a class="category-child2-link" style="color: darkred;font-weight: bold" href="{$_sub1_category.url}">Смотреть все...</a>
                        {break}
                        {/if}
                        <a class="category-child2-link" href="{$_sub2_category.url}">{$_sub2_category.name}</a>
                        {/foreach}
                    </div>
                    {/if}
                </div>
                {/foreach}
            </div>
            {/if}
        </div>
        {/foreach}
    </div>

    <script>
        (function($){
            $('.category-item').hover(function(){
                $(this).find('.category-child').stop(true, false).delay(200).fadeIn(200);
            },
            function(){
                $(this).find('.category-child').stop(true, false).fadeOut();
            });
        })(jQuery);
        (function($){
            new window.waTheme.init.shop.Catalog({
                $wrapper: $("#s-header-catalog"),
                is_locked: {(int)$_is_shop_home},
            });
        })(jQuery);
    </script>
    {/if}


    {* панель поиска *}
    <div class="s-column" style="display: none">
        {$_search_action = false}
        {$_placeholder = ""}

        {if $wa_app === "hub"}
        {$_search_action = $wa->getUrl("hub/frontend/search")}
        {$_placeholder = "[`Search`]"}
        {elseif $wa_app === "helpdesk"}
        {$_search_action = $wa->getUrl("helpdesk/frontend/search")}
        {$_placeholder = "[`Search`]"}
        {elseif $wa_app === "blog"}
        {$_search_action = $wa->getUrl("blog/frontend/search")}
        {$_placeholder = "[`Search`]"}
        {elseif $wa_app === "shop"}
        {$_search_action = $wa->getUrl("shop/frontend/search")}
        {$_placeholder = "[s`Find products`]"}
        {/if}

        {if $wa->shop}
        {$_search_action = $wa->getUrl("shop/frontend/search")}
        {$_placeholder = "[s`Find products`]"}
        {/if}

        {if !empty($_search_action)}
        {$_query = ""}
        {if $wa_app === "shop"}
        {$_query = $smarty.get.query|default:''|escape}
        {/if}

        <div class="s-layout">
            <div class="s-column">

                <div class="s-search-wrapper" role="search">
                    <form method="get" action="{$_search_action}">
                        <input class="s-text-input" type="text" name="query" value="{if !empty($_query)}{$_query}{/if}" placeholder="{$_placeholder|escape}">
                        <input class="s-submit-input" type="submit" value="[`Find`]">
                    </form>
                </div>

            </div>
            <div class="s-column middle right">

                {if !empty($theme_settings.promotion_uri) && !empty($theme_settings.promotion_name)}
                <a class="s-ad-link" href="{$theme_settings.promotion_uri}" title="{$theme_settings.promotion_name|escape}">
                    <i class="svg-icon attention size-12"></i>&nbsp;{$theme_settings.promotion_name|escape}
                </a>
                {/if}

            </div>
        </div>
        {/if}
    </div>
</section>
{/if}
