{* следующий блок состоящий из 3 рядов *}
<section class="header_info">   

    {* время работы сайта и телефон *}
    <div class="header_info-phone">
        {if !empty($_phone)}
        <div class="phone-wrapper">
            {if !empty($theme_settings.tip_the_phone_1)}
            <div class="time">{$theme_settings.tip_the_phone_1}</div>
            {/if}
            <div class="phone">{$_phone}</div>
        </div>
        {/if}

        {if !empty($theme_settings.additional_phone)}
        <div class="phone-wrapper">
            {if !empty($theme_settings.tip_the_phone_2)}
            <span class="time">{$theme_settings.tip_the_phone_2}</span>
            {/if}
            <span class="phone">{$theme_settings.additional_phone}</span>
        </div>
        {/if}
    </div>

    {* логотип *}
    <div class="header_info-logo">

        {$_logo_url = $wa->getUrl("shop/frontend")}

        {* лого *}
        {if !empty($theme_settings.logo)}
        <a class="logo" href="{$_logo_url}" title="{$_name}">
            <img src="{$wa_theme_url}{$theme_settings.logo}?v{$wa_theme_version}" alt="{$_name}" />
        </a>
        {/if}

        {* слоган *}
        {if !empty($theme_settings.logo_tip)}
        <a class="name" href="{$_logo_url}" title="{$_name}">{$theme_settings.logo_tip}</a>
        {/if}
    </div>

    {* корзина *}
    <div class="header_info-cart">

        {$_cart_total = $wa->shop->cart->total()}
        {$_cart_count = $wa->shop->cart->count()}
        {$_cart_url = $wa->getUrl('shop/frontend/cart')}
        {if method_exists($wa->shop, 'checkout')}
        {$_cart_url = $wa->shop->checkout()->cartUrl()}
        {/if}

        <a href="{$_cart_url}">
            <div class="header-cart">
                <div class="icon">
                    <div class="icon-wrap">
                        <img style="width: 24px" src="https://image.flaticon.com/icons/svg/626/626443.svg" alt="">
                        <b>{$_cart_count}</b>
                    </div>
                </div>
                <div class="text"><span>Корзина <b>{$_cart_total} Р</b></span></div>
            </div>
        </a>
    </div>

</section>
