<section class="header_nav">
    <div class="wrap">

        <div class="header_nav_left">
            {$_links = $wa->shop->pages()}
            {foreach $_links as $a}
            {if !($a.url == $wa_url && $a.name == $wa->accountName())}
            {$_is_selected = false}
            {if $a.url == $wa_app_url && !$_is_personal_area || strlen($a.url)>1 && $wa->currentUrl()|strstr:$a.url}
            {$_is_selected = true}
            {/if}
            <div class="{if $_is_selected}is-selected{/if}">
                <a href="{$a.url}">{$a.name}</a>
            </div>
            {/if}
            {/foreach}
        </div>

        <div class="header_nav_right">
            {$_url = $wa->getUrl('shop/frontend/myOrders')}
            {if $wa->user()->isAuth()}
            <div class="{if $_is_personal_area}is-selected{/if}">
                <a href="{$_url}">
                    <span><i class="icon16 image" style="background-image: url('{$wa->user()->getPhoto2x(20)}');"></i>
                    <span>{$wa->user('firstname')|default:"[`My account`]"}</span></span>
                </a>
            </div>
            {else}
            <div>
                <a href="{$_url}">
                    <span><i class="svg-icon entrance size-16"></i> <span>[`My account`]</span></span>
                </a>
            </div>
            {/if}
        </div>
    
    </div>
</section>
