nav.breadcrumb {
    margin: 0 0 12px 0;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: .85rem;
}

.breadcrumb li {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 4px 0 0
}

.breadcrumb li::after {
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5
}

.breadcrumb li:last-of-type::after {
    display: none
}

.breadcrumb li:last-of-type {
    margin-right: 0
}

.breadcrumb li:first-of-type>* {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em
}

.breadcrumb li:last-of-type>* {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0
}

.breadcrumb li:last-of-type::after,.breadcrumb li:last-of-type>::after {
    display: none
}

.breadcrumb a:hover {
    color: #fff;
    background-color: #2c3f4c;
    border-color: #2c3f4c
}

.breadcrumb li>* {
    position: relative;
    color: #2c3f4c;
    background-color: #fff;
    border-color: #fff;
    display: flex;
    height: 48px;
    padding: 0 0.8em 0 2.5em;
    align-items: center;
    font-weight bold
}

.breadcrumb li.current>* {
    color: #fff;
    background-color: #efa671;
    border-color: #efa671
}

.breadcrumb li::after,.breadcrumb li>::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px
}

.breadcrumb li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: bg-color;
    margin: 0
}

.breadcrumb li>::after {
    z-index: 2;
    border-left-color: inherit
}