.subcategories
    margin 0 -0.5%
    display flex
    flex-wrap wrap
    .item
        background #fff
        padding 16px
        margin 0 .5% 1%
        display inline-block
        text-align center
        font-weight bold
        border-radius 4px
        width 19%
        color #2f2933
        transition 200ms
        font-size .9rem
        &:hover
            background #f4f4f5
            color #000
        +tablet()
            width 32.2%
        +mobile()
            width 49%

transition_speed = 300ms

.products-list
    display flex
    margin 0 -2%
    flex-wrap wrap
    .product
        width 46%
        background #fff
        margin 2%
        position relative
        border-radius 4px
        box-shadow 0 1px 4px rgba(0,0,0,.1)
        overflow hidden
        +mobile()
            width 96%
        .block
            height 100%
            display flex
            flex-flow column
            .image
                position relative
                height 0
                padding-top 80%
                user-select none
                .wrap
                    position absolute
                    top 0
                    right 0
                    bottom 0
                    left 0
                    overflow hidden
                    ul
                        margin-left 20%
                        display block
                        width 100%
                        overflow hidden
                        height 100%
                        list-style none
                        li
                            float left
                            width 100%
                            height 100%
                            cursor pointer
                            opacity 0.5
                            display flex
                            justify-content center
                            align-items center
                            &:hover
                                opacity 1
                            img
                                transition max-width transition_speed
                                &:hover
                                    max-width 104%

                        li.current
                            opacity 1
                            img
                                &:hover
                                    max-width 100%

                    .dots
                        display flex
                        max-width 500px
                        margin auto
                        justify-content center
                        z-index 1
                        position absolute
                        bottom -4px
                        left 0
                        right 0
                        .dot
                            width 8px
                            height 8px
                            background white
                            border 1px solid #9688a0
                            border-radius 10px
                            margin 4px
                            cursor pointer
                        .current
                            background #9688a0
                a
                    display block
            .info
                display flex
                margin 16px 32px
                flex 1
                b
                    flex 1
                a
                    display block
                    font-size 1.3rem
                    color #2F2933
                span.price
                    font-size 20px
                    font-weight bold
                    color #A5D05E
            .actions
                display flex
                justify-content flex-end
                margin 20px 32px
                .buttons
                    input.cart
                        background #46B29D
                        padding 12px 20px
                        border 0
                        color #fff
                        border-radius 4px
    &.is-short
        .product
            width 21%
            +mobile()
                width 96%
            +tablet()
                width 46%
            .block
                .info
                    margin 16px 16px
                    a
                        font-size 1.2rem
                .actions
                    margin 16px 16px























        