// главный блок шапки
header.header
	display flex
	flex-direction column
	background #fff


// ------------- секция навигации ------------- //
section.header_nav
	border-bottom 1px solid #E8E8E9
	height 40px
	// обертка
	.wrap
		display flex
		height inherit
		@extend .common-wrap
	// левый блок с ссылками
	.header_nav_left
	// правый блок с ссылками
	.header_nav_right
		display flex
		flex 1
		border-left 1px solid #e8e8e9
		.is-selected
			background #fafafa
		div
			border-right 1px solid #E8E8E9
			a
				display flex
				padding 0px 24px
				font-size .75rem
				font-weight bold
				color black
				height 100%
				align-items center
				transition 300ms
				&:hover
					background #f5f5f5
	.header_nav_right
		flex 0 1 auto


// ------- секция логотипа, корзины и телефона ---- //
.header_info
	display flex
	align-items center
	padding-top 12px
	padding-bottom 12px
	@extend .common-wrap
	// раздел телефона
	.header_info-phone
		width 30%
		.phone-wrapper
			margin-bottom 12px
			text-align center
			.phone
				font-weight bold
				font-size 1.4rem
			.time
				font-size .7rem
	// раздел логотипа
	.header_info-logo
		width 40%
		display: flex;
		flex-flow: column;
		align-items: center;
		.logo
			max-width 410px
			max-height 70px
			overflow hidden
		a
			display block
			font-size .8rem
			color #2f2933
	// раздел корзины
	.header_info-cart
		display flex
		justify-content flex-end
		width 30%
		a
			display block
		.header-cart
			display flex
			border 1px solid #e8e8e9
			font-size .8rem
			border-radius 4px
		.header-cart .icon
			padding 16px
			border-right 1px solid #e8e8e9
			.icon-wrap
				width 24px
				height 24px
				position relative
				b
					position absolute
					top -9px
					right -9px
					background blue
					width 18px
					height 18px
					border-radius 100%
					color #FFF
					font-size 0.6rem
					font-weight bold
					text-align center
					line-height 1.23rem	
		.header-cart .text
			display flex
			color black
			align-items center
			padding 0 16px
			flex 1 1 auto


// -------------- секция категорий -------------- //
section.category
	border-top 1px solid #E8E8E9
	border-bottom 1px solid #E8E8E9

// блок первого уровня
.category-list
	display flex
	position relative
	@extend .common-wrap
	// элементы первого уровня
	.category-item
		background #fff
		flex 1
		transition 200ms
		&:hover
			background #f4f4f5
		// ссылки первого уровня
		.category-link
			display flex
			justify-content center
			height 48px
			align-items center
			color black
			font-size .9rem
			font-weight bold
		// блок второго уровня
		.category-child
			position absolute
			top 49px
			left 0
			background #fff
			right 0
			border 1px solid #E8E8E9
			border-top 0
			z-index 3
			border-bottom-left-radius 4px
			border-bottom-right-radius 4px
			display flex
			box-shadow 1px 8px 8px 0px rgba(0, 0, 0, 0.26)
			// елементы второго уровня
			.category-child-item
				flex 1
				max-width 25%
				// ссылки второго уровня
				.category-child-link
					padding 12px 8px
					display flex
					color #000
					font-weight bold
					font-size .8rem
					&:hover
						background #f4f4f5
				// блок третьего уровня
				.category-child2
					// ссылки третьего уровня
					.category-child2-link
						color #000
						display flex
						padding 2px 8px
						font-size .75rem
						&:hover
							background #f4f4f5

