	.left-box
		article
			width 250px
			margin 0 0 12px 0
			@extend .common-block
			header
				padding 16px 24px
				border-bottom 1px solid #e8e8e9
			section.padding
				padding 16px 24px
			section
				background #fafafa
				font-size .9rem
				a
					color black
					display block
					padding 10px 16px
					transition 250ms
					&:hover
						background #EEEEEE
			nav li a::before
				display: inline-block;
				content: '〉';
				color: #959fa5
				margin-right 8px
