{strip}

{function name="_renderBreadcrumbs" breadcrumbs=[]}

    {$_is_main_page = ($wa->currentUrl() == $wa_app_url)}
    {$_home_uri = $wa_app_url}
    {if $wa->shop}
        {$_home_uri = $wa->getUrl('shop/frontend/')}
    {/if}

    {if empty($_is_main_page)}
        <nav class="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{$_home_uri}" title="[`Shop`]">Главная</a>
            </li>

            {if !empty($breadcrumbs)}
                {foreach $breadcrumbs as $_breadcrumb}
                    <li>
                        <a href="{$_breadcrumb.url}" title="{$_breadcrumb.name|escape}">{$_breadcrumb.name|escape}</a>
                    </li>
                {/foreach}
            {/if}

                {* GLOBAL HEADER *}
        {$_global_header = $wa->globals("globalHeader")}
        {$_global_header_html = $wa->globals("globalHeaderHTML")}
        {if !empty($_global_header)}
            <li class="current"><span>{$_global_header}</span></li>
        {elseif $_global_header_html}
            <li class="current"><span>{$_global_header_html}</span></li>
        {elseif $action == 'product'}
            <li class="current"><span>{$product.name}</span></li>
        {/if}
 
        </ol>
    </nav>

    {/if}
{/function}

{include file="`$wa_active_theme_path`/breadcrumbs.html" inline}


{/strip}