@import "library/normalize.css"

bg-color = #eaeaea
body
	font-size 1rem
	font-family 'Comfortaa', cursive
	background bg-color
	color #000
	font-weight normal
	overflow-x hidden
	text-size-adjust 100%
	-webkit-font-smoothing subpixel-antialiased
	-webkit-text-size-adjust none
	line-height 1.4rem

.common-wrap
	max-width 1170px
	margin auto
	width 100%
	padding 0 24px

.common-block
	background #FFFFFF
	box-shadow 0 0 10px 0 rgba(0,0,0,0.2)

b
strong
.bold
	font-weight bold

.hidden
	display none!important

ul
ol
	margin 0
	padding 0
	li
		list-style none

img
	max-width 100%
	border none
	font-size 0
	line-height 0
	vertical-align top

a
	text-decoration none

*
*::after
*::before
	box-sizing border-box

#content
	margin-top 12px

.body
	display flex
	.content
		flex 1

footer
	background: #fff;
	padding: 24px 0;

.s-badge-wrapper.is-corner
	z-index 1

 @import "components/header.styl"
 @import "components/breadcrumb.styl"
 @import "components/sidebar.styl"
 @import "components/category.styl"



