
{$wa->globals("globalHeader", $category.name|escape)}

<div class="s-category-wrapper" id="s-category-wrapper">
    {* @event frontend_category.%plugin_id% *}
    {foreach $frontend_category as $_}{$_}{/foreach}

    {if !empty($category.description) && $theme_settings.category_description_place === "content_top"}
    <div class="s-description-section s-user-content is-top">{$category.description}</div>
    {/if}

    {if !empty($category.subcategories)}
    <div class="subcategories">
        {foreach $category.subcategories as $subcategory}
        <a class="item" href="{$subcategory.url}">{$subcategory.name}</a>
        {/foreach}
    </div>
    {/if}

    {if !empty($products)}
    {include file="./products.html" show_sorting=!empty($category.params.enable_sorting) inline}
    {else}
    <div class="s-category-empty">
        <p>{if !empty($filters)}[`No products were found.`]{else}[`This category does not contain any products.`]{/if}</p>
    </div>
    {/if}

    {if !empty($category.description) && $theme_settings.category_description_place === "content_bottom"}
    <div class="s-description-section s-user-content is-bottom">{$category.description}</div>
    {/if}
</div>

