{strip}

<article>
    <form method="get" action="{$wa->currentUrl(0,1)}">
        <header>
            <b>[`Filters`]</b>
        </header>

        {foreach $filters as $fid => $filter}
            {$_is_selected = false}
            {if $fid == 'price'}
                {if $wa->get('price_min')}
                    {$_is_selected = true}
                {/if}
                {if $wa->get('price_max')}
                    {$_is_selected = true}
                {/if}
            {else}
                {if $filter.type == 'boolean'}
                    {if $wa->get($filter.code)}
                        {$_is_selected = true}
                    {/if}
                    {if $wa->get($filter.code) === '0'}
                        {$_is_selected = true}
                    {/if}
                    {*{if $wa->get($filter.code, '') === ''}*}
                        {*{$_is_selected = true}*}
                    {*{/if}*}
                {elseif isset($filter.min)}
                    {if !empty($_v.min)}
                        {$_is_selected = true}
                    {/if}
                    {if !empty($_v.max)}
                        {$_is_selected = true}
                    {/if}
                {else}
                    {foreach $filter.values as $v_id => $v}
                        {if in_array( $v_id, (array)$wa->get($filter.code, array()) )}
                            {$_is_selected = true}
                        {/if}
                    {/foreach}
                {/if}
            {/if}

            <section class="padding s-filter-group {if !empty($_is_selected)}is-opened{/if}">
                {if $fid == 'price'}
                    {$c = $wa->shop->currency(true)}
                    <h5 class="s-filter-header">[`Price`]</h5>
                    <div class="s-filter-wrapper">
                        <div class="s-filter-item s-range-item" data-min="{floor($filter.min)}" data-max="{ceil($filter.max)}">
                            [`from`]
                            <input type="text" class="min" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
                            [`to`]
                            <input type="text" class="max" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}">
                            {$c.sign}
                        </div>
                    </div>
                {else}
                    <h5 class="s-filter-header">{$filter.name|escape}</h5>
                    <div class="s-filter-wrapper">
                        {if $filter.type == "boolean"}
                            <div class="s-filter-item s-radio-item">
                                <label><input type="radio" name="{$filter.code}" value="1" {if $wa->get($filter.code)}checked{/if}>[`Yes`]</label>
                            </div>
                            <div class="s-filter-item s-radio-item">
                                <label><input type="radio" name="{$filter.code}" value="0" {if $wa->get($filter.code) === '0'}checked{/if}>[`No`]</label>
                            </div>
                            <div class="s-filter-item s-radio-item">
                                <label><input type="radio" name="{$filter.code}" value="" {if $wa->get($filter.code, '') === ''}checked{/if}>[`Any`]</label>
                            </div>
                        {elseif isset($filter.min)}
                            <div class="s-filter-item s-range-item" data-min="{$filter.min}" data-max="{$filter.max}">
                                [`from`]
                                <input type="text" class="min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
                                [`to`]
                                <input type="text" class="max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
                                {if !empty($filter.unit)}
                                    {$filter.unit.title}
                                    {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
                                {/if}
                            </div>
                        {else}
                            {foreach $filter.values as $v_id => $v}
                                <div class="s-filter-item is-checkbox-item">
                                    <label>
                                        <input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}">{$v}
                                    </label>
                                </div>
                            {/foreach}
                        {/if}
                    </div>
                {/if}
            </section>
        {/foreach}

        <footer class="s-buttons-wrapper">
            <input class="s-button reset" type="reset" value="[`Reset`]">
            <input class="s-button" type="submit" value="[`Filter products`]">
            {if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
            {if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
        </footer>

    </form>

    <script>
        (function($) {
            new window.waTheme.init.shop.ProductsFilter({
                $wrapper: $("#s-category-filters")
            });
        })(jQuery);
    </script>

</article>

{/strip}