{strip}

<div class="s-checkout-success">

    <section class="s-text-section">
        <div>[`We successfully accepted your order, and will contact you asap.`]</div>
        <div>[`Your order number is `] <a href="{$wa->getUrl('shop/frontend/myOrder', ['id' => $order._id])}" class="s-order-number">{$order.id}</a>.</div>
    </section>

    {if !empty($payment)}<div class="s-plugin-wrapper">{$payment}</div>{/if}

    {if !empty($payment_success)}
        <p class="s-payment-message">
            <span class="highlighted">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</span>
        </p>
    {/if}

    <p class="s-actions">
        <a class="s-link-back" href="{$wa_app_url}">
            <i class="svg-icon back size-10"></i> [`Back to the store`]
        </a>
    </p>

    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
</div>

{/strip}