{strip}

<div class="s-login-toggle-wrapper">
    {if !$wa->user()->isAuth()}
        <ul class="s-login-toggle">
            <li><label><input name="user_type" type="radio" {if !$wa->post('wa_auth_login')}checked{/if} value="0"> [`I’m a new customer`]</label></li>
            <li><label><input name="user_type" type="radio" {if $wa->post('wa_auth_login')}checked{/if} value="1"> [`I already have an account`]</label></li>
        </ul>

        <div class="s-login-form" id="login-form" style="{if !$wa->post('wa_auth_login')}display:none;{/if}">

            {* SOCIAL ACCOUNTS *}
            {include file="`$wa_parent_theme_path`/login.adapters.html" inline}

            <p class="s-auth-text">[`Log in with your customer password or via the services listed above`]</p>

            {$wa->loginForm($error)}
        </div>

        <script>
            ( function($) {

                var $login = $("#login-form");

                if (!$login.length) {
                    return false
                }

                var $inputs = $login.find("input"),
                    $userType = $("input[name='user_type']");

                $userType.on("change", function() {
                    onChangeUserType( $(this) );
                });

                $inputs.attr("disabled", "disabled");

                $userType.change();

                function onChangeUserType( $input ) {
                    var $step = $input.closest(".s-step-wrapper"),
                        $stepContent = $step.find(".s-step-content"),
                        is_account_exist = ( $step.find("input[name='user_type']:checked").val() == "1" );

                    if (is_account_exist) {
                        $stepContent.hide();

                        $inputs.removeAttr("disabled");
                        $login.show();
                    } else {
                        $stepContent.show();

                        $inputs.attr("disabled", "disabled");
                        $login.hide();
                    }
                }
            })(jQuery);
        </script>
    {else}
        {* AUTHORIZED *}
        <div class="s-authorized-wrapper">
            <div class="s-authorized-user">
                <div class="left-column image">
                    <img src="{$wa->user()->getPhoto(50)}">
                </div>
                <div class="righs-column">
                    <p>{sprintf("[`You are currently authorized as <strong>%s</strong>. Please verify or update your contact information using the form below. Your existing contact info will be automatically updated.`]", $wa->user('name'))}</p>
                </div>
            </div>
            <p class="s-hint">[`If you want to place an order on behalf of another customer, <a href="?logout">log out</a> from your current profile and proceed to checkout again.`]</p>
        </div>
    {/if}
</div>

{/strip}