{$images = $wa->shop->images(array_column($products, 'id'))}

{foreach $products as $product}
{$available = $wa->shop->settings('ignore_stock_count') || $product.count === null || $product.count > 0}
{$badge_html = $wa->shop->badgeHtml($product.badge)}
{$_product_image_src = $wa->shop->productImgUrl($product, $photo_size)|default:"`$wa_theme_url`img/svg/empty_photo.svg"}
<div class="product">
    {* наклейка *}
    {if !empty($badge_html)}
    <div class="s-badge-wrapper is-corner">{$badge_html}</div>
    {/if}

    <div class="block">
        <div class="image">
            {$rand = random_int(00,99)}
            <div class="wrap" id="productImage{$product.id}{$rand}">
                <ul>
                    {$i = 0}
                    {foreach $images[$product.id] as $image}
                    {if $i == 0}
                    <li data-item="{$i}" class="current">{$wa->shop->imgHtml($image,400)}</li>
                    {else}
                    <li data-item="{$i}">{$wa->shop->imgHtml($image,400)}</li>
                    {/if}
                    {$i = $i + 1}
                    {/foreach}
                </ul>
            </div>
            <script>
                $(document).ready(function() {
                    $('#productImage{$product.id}{$rand}').slider();
              });
          </script>
      </div>

      <div class="info">
        <b itemprop="name">
            <a href="{$product.frontend_url}" title="{$product.name}">{$product.name}</a>
        </b>

        <div class="price" itemprop="offers">
            {if $available}
            <span class="price">{shop_currency_html($product.price)}</span>
            <span class="compare">{if $product.compare_price > 0}{shop_currency_html($product.compare_price)}{/if}</span>
            <link itemprop="availability" href="http://schema.org/InStock"/>
            <meta itemprop="price" content="{shop_currency($product.price, null, null, 0)}">
            <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
            {else}
            <span class="s-price">{shop_currency_html($product.price)}</span>
            <span class="s-out-of-stock">
                {if $wa->shop->settings('ignore_stock_count')}<strong>[`Pre-order only`]</strong>{/if}
            </span>
            <meta itemprop="price" content="{shop_currency($product.price, null, null, 0)}">
            <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
            {/if}
        </div>
    </div>

    {if empty($hide_buttons)}
    <div class="actions">
        <div class="buttons">
            {if $available}
            <form class="add-to-cart" {if $product.sku_count > 1}data-url="{$product.frontend_url}{if strpos($product.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
                <input class="cart js-add-button" type="submit" value="[`Buy`]">
                <input type="hidden" name="product_id" value="{$product.id}">
            </form>
            {else}
            <input class="s-button js-add-button" type="submit" value="[`Buy`]" disabled>
            {/if}
        </div>
    </div>
    {/if}
</div>
</div>
{/foreach}

