{strip}

{$wa->title(sprintf('[`%s reviews`]', $product.name))}

{$_product_data = [
    "product" => $product,
    "reviews_count" => count($reviews),
    "is_review_page" => true
]}

{$wa->globals("showBottomBanner", true)}
{$wa->globals("productPageData", $_product_data)}
{$wa->globals("globalHeader", _w('%d review for ','%d reviews for ', $reviews_count)|cat:$product.name|escape)}

<div class="s-reviews-page" id="s-reviews-page">

    <section class="s-form-section">
        <header class="s-section-header">[`Write a review`]</header>
        <div class="s-section-body">
            <div class="s-form-wrapper">
                <form method="post">
                    {$current_user_id = $wa->userId()}
                    {if empty($current_user_id) && $require_authorization}
                        <div class="s-review-field">{sprintf(
                            '[`To add a review please <a href="%s">sign up</a> or <a href="%s">login</a>`]',
                            $wa->signupUrl(),
                            $wa->loginUrl())
                            }</div>
                    {else}
                        {if !empty($current_user_id)}
                            <div class="s-review-field user-name-block">
                                <strong><img src="{$wa->user()->getPhoto(20)}" class="userpic" alt="">{$wa->user('name')}</strong>
                                <a class="s-logout-link" href="?logout">([`log out`])</a>
                            </div>
                        {else}

                            {* SOCIAL ACCOUNTS *}
                            {include file="`$wa_parent_theme_path`/login.adapters.html" inline}

                            <div class="s-provider-fields s-layout fixed" data-provider="{shopProductReviewsModel::AUTH_GUEST}" {if $current_auth_source != shopProductReviewsModel::AUTH_GUEST}style="display:none"{/if}>
                                <div class="s-column">
                                    <div class="s-review-field">
                                        <div class="s-label">[`Your name`]</div>
                                        <input class="is-wide" type="text" name="name" id="review-name" value="">
                                    </div>
                                </div>
                                <div class="s-column">
                                    <div class="s-review-field">
                                        <div class="s-label">[`Email`]</div>
                                        <input class="is-wide" type="text" name="email" id="review-email">
                                    </div>
                                </div>
                                <div class="s-column">
                                    <div class="s-review-field">
                                        <div class="s-label">[`Website`]</div>
                                        <input class="is-wide" type="text" name="site" id="review-site">
                                    </div>
                                </div>
                            </div>

                            {if !empty($auth_adapters[$current_auth_source])}
                                {$adapter = $auth_adapters[$current_auth_source]}
                                <div class="s-provider-fields" data-provider="{$adapter->getId()}">
                                    <div class="s-review-field">
                                        <div class="header-block">[`Your name`]</div>
                                        <strong><img src="{$adapter->getIcon()}" class="userpic" />{$current_auth.name|escape}</strong>
                                        <a href="?logout">[`log out`]</a>
                                    </div>
                                </div>
                            {/if}
                        {/if}

                        <div class="s-review-field">
                            <div class="s-label">[`Title`]</div>
                            <input class="is-wide" type="text" name="title">
                        </div>

                        <div class="s-review-field">
                            <div class="s-label">[`Rate product`]</div>
                            <div class="s-rates-wrapper">
                                {for $i = 1 to 5}
                                    <i class="s-rate-item svg-icon star-empty" data-rate-count="{$i}"></i>
                                {/for}
                                <input name="rate" type="hidden" value="0">
                            </div>
                        </div>

                        <div class="s-review-field">
                            <div class="s-label">[`Review`]</div>
                            <textarea id="review-text" name="text" rows="10" cols="45"></textarea>
                        </div>

                        {if $request_captcha && empty($current_user_id)}
                            <div class="s-review-field review-submit">
                                {$wa->captcha()}
                            </div>
                        {/if}

                        {if empty($current_user_id) && !empty($review_service_agreement) && !empty($review_service_agreement_hint)}
                            <div class="s-review-field service-agreement-wrapper">
                                <label>
                                    {if $review_service_agreement == 'checkbox'}
                                        <input type="hidden" name="service_agreement" value="">
                                        <input type="checkbox" name="service_agreement" value="1"{if $wa->post('service_agreement') || $wa->storage('shop_review_agreement')} checked{/if}>
                                    {/if}
                                    {$review_service_agreement_hint}
                                </label>
                            </div>
                        {/if}

                        <div class="s-review-field reply-notification">
                            <span class="reply-number"></span>
                            <a href="javascript:void(0);" class="unset-reply-parent">[`cancel`]</a>
                        </div>

                        <div class="s-errors-wrapper"></div>

                        {if empty($current_user_id) && !empty($review_service_agreement) && !empty($review_service_agreement_hint)}
                            <div class="s-review-field">
                                <label class="service-agreement-wrapper">
                                    {if $review_service_agreement == 'checkbox'}
                                        <input type="hidden" name="service_agreement" value="">
                                        <input type="checkbox" name="service_agreement" value="1"{if $wa->post('service_agreement') || $wa->storage('shop_review_agreement')} checked{/if}>
                                    {/if}
                                    {$review_service_agreement_hint}
                                </label>
                            </div>
                        {/if}

                        <div class="s-review-field comment-submit">
                            <input type="submit" class="save" value="[`Add review`]">
                        </div>

                        <input type="hidden" name="parent_id" value="0">
                        <input type="hidden" name="product_id" value="{if isset($product.id)}{$product.id}{else}0{/if}">
                        <input type="hidden" name="auth_provider" value="{$current_auth_source|default:shopProductReviewsModel::AUTH_GUEST}">
                        <input type="hidden" name="count" value="{$reviews_count}">
                    {/if}
                </form>
            </div>
        </div>
    </section>

    <div class="s-reviews-section">
        <a name="reviewheader"></a>

        {if !empty($reviews)}
            <ul class="s-reviews-list">
                {foreach $reviews as $_review}
                    <li class="s-review-wrapper">
                        {include file="./review.html" review=$_review reply_allowed=$reply_allowed inline}
                    </li>
                {/foreach}
            </ul>
        {/if}
    </div>

    <script src="{$wa_theme_url}js/reviews.js"></script>
    <script>
        ( function($) {
            new window.waTheme.init.shop.Reviews({
                $wrapper: $("#s-reviews-page")
            });
        })(jQuery);
    </script>
</div>

{/strip}