{strip}

{$_is_home = $wa->globals("isShopHome")}
{$_is_page = $wa->globals("isPage")}
{$_product_data = $wa->globals("productPageData")}
{$_tags = $wa->shop->tags()}

{if empty($_is_personal_area)}

    {if !$_is_page && !$_is_home && !$_product_data && false}
        {* Show category navigation *}
        {$_catalogs = []}
        {if empty($category)}
            {$_catalogs = $wa->shop->categories(0, 0, false)}
        {elseif !empty($category.subcategories)}
            {$_catalogs = $category.subcategories}
        {/if}
        {if !empty($_catalogs)}
            <article>
                <header>
                    <b>[`Categories`]</b>
                </header>
                <section>

                    <nav class="s-nav-wrapper">
                        <ul>
                            {foreach $_catalogs as $cat_item}
                                <li>
                                    <a href="{$cat_item.url}">{$cat_item.name}</a>
                                </li>
                            {/foreach}
                        </ul>
                    </nav>

                </section>
            </article>
        {/if}
    {/if}

    {* NEWS *}
    {if $_is_home && $wa->blog}
        {$_blog_id = null}
        {if !empty($theme_settings.news_blog_id)}
            {$_blog_id = $theme_settings.news_blog_id}
        {/if}
        {$_posts = $wa->blog->posts($_blog_id, 5)}
        {if !empty($_posts)}
            <section class="s-sidebar-section">
                <header class="s-section-header">
                    <h2 class="s-header">[`News`]</h2>
                </header>
                <div class="s-section-body">

                    <ul class="s-news-list">
                        {foreach $_posts as $_post}
                            <li class="s-item">
                                <div class="s-date">
                                    {$_post.datetime|wa_datetime:"humandate"} <span class="s-time">{$_post.datetime|wa_datetime:"time"}</span>
                                </div>
                                <div class="s-title">
                                    <a href="{$_post.link}" class="s-link">{$_post.title}</a>
                                </div>
                            </li>
                        {/foreach}
                    </ul>
                </div>
                <footer class="s-section-footer gray">
                    <a href="{$wa->getUrl("blog/frontend")}">
                        [`All news`] <i class="svg-icon next size-10"></i>
                    </a>
                </footer>
            </section>
        {/if}
    {/if}

    {* PRODUCT PAGE *}
    {if !empty($_product_data)}
        {$_count = false}
        {if !empty($_product_data.reviews_count) && $_product_data.reviews_count > 0}
            {$_count = $_product_data.reviews_count}
        {/if}

        {$_is_review_page = false}
        {if !empty($_product_data.is_review_page)}{$_is_review_page = true}{/if}

        {$_product_pages = [
            [
                "name" => "[`Product page`]",
                "uri" => $wa->shop->productUrl($_product_data.product)
            ],
            [
                "name" => "[`Product reviews`]",
                "count" => $_count,
                "uri" => $wa->shop->productUrl($_product_data.product, 'reviews'),
                "is_selected" => $_is_review_page
            ]
        ]}

        {foreach $_product_data.product.pages as $_page}
            {$is_selected = false}
            {if !empty($_product_data.page) && $_product_data.page.id == $_page.id}
                {$is_selected = true}
            {/if}
            {$_product_pages[] = [
                "is_selected" => $is_selected,
                "name" => $_page.name,
                "uri" => $wa->shop->productUrl($_product_data.product, 'page', [
                    'page_url' => $_page.url
                ])
            ]}
        {/foreach}

        <section class="s-sidebar-section">
            <header class="s-section-header">
                <h2 class="s-header">{$_product_data.product.name|escape}</h2>
            </header>
            <div class="s-section-body">
                <nav class="s-nav-wrapper">
                    <ul>
                        {foreach $_product_pages as $_page}
                            {$_page_url = $_page.uri}
                            {if !empty($_page.is_selected)}
                                {$_page_url = "javascript:void(0);"}
                            {/if}

                            <li class="{if !empty($_page.is_selected)}is-selected{/if}">
                                <a href="{$_page_url}">
                                    {$_page.name|escape}{if !empty($_page.count)}&nbsp;<span class="s-count" itemprop="reviewCount">({$_page.count})</span>{/if}
                                </a>
                            </li>
                        {/foreach}
                    </ul>
                </nav>
            </div>
        </section>
    {/if}

    {* скрываем блок страниц в боковом меню *}
    {$_pages = $wa->shop->pages()}
    {if !empty($_pages) && false}
        <section class="s-sidebar-section">
            <div class="s-section-body">

                <nav class="s-nav-wrapper">
                    {_renderPagesList pages=$_pages}
                </nav>

            </div>
        </section>
    {/if}

    {if $_is_home}
        {$_info_blocks = []}

        {$_info_blocks[] = [
            "header" => $theme_settings.info_block_1_header,
            "content" => $theme_settings.info_block_1_content,
            "icon" => $theme_settings.info_block_1_icon,
            "uri" => $theme_settings.info_block_1_uri,
            "view" => $theme_settings.info_block_1_view
        ]}

        {$_info_blocks[] = [
            "header" => $theme_settings.info_block_2_header,
            "content" => $theme_settings.info_block_2_content,
            "icon" => $theme_settings.info_block_2_icon,
            "uri" => $theme_settings.info_block_2_uri,
            "view" => $theme_settings.info_block_2_view
        ]}

        {$_info_blocks[] = [
            "header" => $theme_settings.info_block_3_header,
            "content" => $theme_settings.info_block_3_content,
            "icon" => $theme_settings.info_block_3_icon,
            "uri" => $theme_settings.info_block_3_uri,
            "view" => $theme_settings.info_block_3_view
        ]}

        {$_info_blocks[] = [
            "header" => $theme_settings.info_block_4_header,
            "content" => $theme_settings.info_block_4_content,
            "icon" => $theme_settings.info_block_4_icon,
            "uri" => $theme_settings.info_block_4_uri,
            "view" => $theme_settings.info_block_4_view
        ]}

        {$_info_blocks[] = [
            "header" => $theme_settings.info_block_5_header,
            "content" => $theme_settings.info_block_5_content,
            "icon" => $theme_settings.info_block_5_icon,
            "uri" => $theme_settings.info_block_5_uri,
            "view" => $theme_settings.info_block_5_view
        ]}

        {foreach $_info_blocks as $_info_block}
            {if (!empty($_info_block.view) && $_info_block.view !== "checkout") && (!empty($_info_block.header) || !empty($_info_block.content))}
                <div class="s-info-block">
                    {if !empty($_info_block.header)}
                        <header class="s-info-header">
                            {if !empty($_info_block.icon)}
                                <img class="s-icon" src="{$wa_theme_url}{$_info_block.icon}?v{$wa_theme_version}">
                            {/if}
                            {$_info_block.header}
                        </header>
                    {/if}
                    {if !empty($_info_block.content)}
                        <div class="s-info-content">{$_info_block.content}</div>
                    {/if}
                    {if !empty($_info_block.uri)}
                        <footer class="s-info-footer">
                            <a href="{$_info_block.uri}">
                                [`More info`] <i class="svg-icon next size-10"></i>
                            </a>
                        </footer>
                    {/if}
                </div>
            {/if}
        {/foreach}
    {/if}

    {* Display category filters *}
    {if !empty($category) && !empty($filters) && false}
        {include file="./category.filters.html" inline}
    {/if}

    {* @event frontend_nav.%plugin_id% *}
    {foreach $frontend_nav as $_}
        <div class="s-plugin-wrapper">{$_}</div>
    {/foreach}

    {* описание категории *}
    {*if !empty($category.description) && $theme_settings.category_description_place === "sidebar"}
    <article>
        <header>
            <b>{$category.name|escape}</b>
        </header>
        <section class="padding">
            {$category.description}
        </section>
    </article>
    {/if*}

    {if !empty($_tags)}

        {* TAGS *}
        <section class="s-sidebar-section s-sidebar-tags">
            <header class="s-section-header">
                <h2 class="s-header">[`Tags`]</h2>
            </header>
            <div class="s-section-body">

                <div class="s-tags-list">
                    {foreach $_tags as $_tag}
                        <li>
                            <a href="{$wa_app_url}tag/{$_tag.uri_name}/">{$_tag.name|escape}</a>
                        </li>
                    {/foreach}
                </div>

            </div>
        </section>
    {/if}

{else}

    {$_is_my_order_page = $wa->globals("isMyOrderPage")}
    {if !empty($_is_my_order_page)}
        <div class="s-back-link-wrapper" id="js-back-link-wrapper">
            <a href="{$wa->getUrl('/frontend/myOrders')}">
                <i class="svg-icon back size-15"></i>[`Back`]
            </a>
        </div>
    {/if}

{/if}

{/strip}