.svg-icon {
    font-size: 24px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .svg-icon:before {
    background-image: url("../svg/sprite.png");
}




